body{
    width: auto;
    height:auto;
    background: rgb(121,9,118);
    background: linear-gradient(3deg, rgba(121,9,118,1) 0%, rgba(120,51,118,1) 57%, rgba(115,0,255,0.7315301120448179) 100%);
    background-repeat: no-repeat;
    
}